@charset "UTF-8";
html,
body {
    margin: 0;
    padding: 0;
	height: 100%;
}
body{
	-webkit-overflow-scrolling: touch; /* ios5+ */
	/* 处理ios端改变字体大小 */
	-webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}

html {
    @include root-font-size();
}

.none{
	display: none !important;
}
.flexcc{
	display: flex;
	justify-content:center;
	align-items:center;
}
.container{
	height: 100%;
	background: #f9f9f9;
	position: relative;
}

// 变量
$fs12: 12px;

// 继承
%borderB{
    border-width:0 0 1px 0;
    border-color:#eee;
    border-style:solid;
}

// 函数
@mixin transform($type){
    transform: $type;
    -webkit-transform: $type;
    -moz-transform: $type;
    -ms-transform: $type;
    -o-transform: $type;
}
// 实例
.test{
    width: 100%;
    font-size: $fs12;
    @extend %borderB;
    @include transform(rotate(-10deg))
}